* {
  box-sizing: border-box; 
  cursor: url('WebCursorIdle.png'), auto;
}

body { 
  background-color: hsl(0, 0%, 25%); 
  margin: 0px; 
} 

.vt323-Title { 
  font-family: "VT323", monospace; 
  font-weight: 400; 
  font-style: normal; 
  font-size: clamp(2rem, 8vw, 4rem); 
  text-align: center; 
  color: white; 
  margin: 20px 10px;
} 
.vt323-regular { 
  font-family: "VT323", monospace; 
  font-weight: 400; 
  font-style: normal; 
  font-size: clamp(1rem, 2.5vw, 2rem);
  text-align: center; 
  color: white; 
  margin: 20px 10px;
} 

.navbar ul { 
  list-style-type: none; 
  background-color: hsl(0, 0%, 25%); 
  padding: 10px; 
  margin: 0px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: stretch; 
  gap: 5px; 
} 

.navbar ul li {
  flex: 1; 
}

.navbar a { 
  font-family: "VT323", monospace; 
  color: white; 
  text-decoration: none; 
  padding: 14px; 
  text-align: center; 
  font-size: 28px;
  display: block;
} 

.navbar a.active {
  outline: 4px solid white;
  pointer-events: none;          
  background-color: darkgray; 
}


.navbar a:hover { 
  background-color: hsl(0, 0%, 10%); 
  cursor: url('WebCursorPoint.png'), pointer; 
}

@media (min-width: 600px) {
  .navbar ul { 
    flex-direction: row; 
    align-items: center; 
    gap: 0px;
    padding: 0px;
  } 
  
  .navbar a { 
    margin: 0px; 
  }
}
